# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
venv311/
.env

# =========================
# MLflow
# =========================
mlruns/
mlflow.db

# =========================
# DVC Cache
# =========================
.dvc/cache/

# =========================
# Local Models
# =========================
models/registry/rf_aapl_best_20260513.pkl
models/registry/rf_aapl_best_20260514.pkl

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp